<div class="container">
	<nav>
		<ul>
			<li class="logo">
				<p>Аналітика</p>
				<p>успішності студентів</p>
			</li>
			<li [routerLinkActive]="['active']"><a [routerLink]="['/grades']" href="">Якість Оцінювання</a></li>
			<li [routerLinkActive]="['active']"><a [routerLink]="['/budget']" href="">Прогноз успішності</a></li>
			<li [routerLinkActive]="['active']"><a [routerLink]="['/student_sucess']" href="">Успішність студентів</a></li>
			<li [routerLinkActive]="['active']"><a [routerLink]="['/semester_grades']" href="">Успішність спеціальності</a></li>
		</ul>
	</nav>
	<div class='main_contant'>
		<header class="col-md-8">
		
		</header>
		<main>
			<section>
				<router-outlet></router-outlet>	
			</section>
		</main>
	</div>
</div>