<div class="container">
	<nav>
		<ul>
			<li><a [routerLink]="['/dashboard']" href="">Головна</a></li>
			<li><a [routerLink]="['/grades']" href="">Якість Оцінювання</a></li>
			<li><a [routerLink]="['/budget']" href="">Бюджет</a></li>
			<li><a [routerLink]="['/student_sucess']" href="">Упішність студентів</a></li>
			<li><a [routerLink]="['/semester_grades']" href="">Успішність спеціальності</a></li>
		</ul>
	</nav>
	<div class='main_contant'>
		<header class="col-md-8">
		<md-toolbar color="primary">
		    <span>Page Name</span>
		</md-toolbar>
		</header>
		<main>
			<section>
				<router-outlet></router-outlet>	
			</section>
		</main>
	</div>
</div>