<div class="wrapper">
<p>Правила надання стипендій</p>
<div class="left-box">
    <p>Базова</p>
	<md-input-container>
	  <input mdInput placeholder="За квотою" min=1 max=100 type="number">
	</md-input-container>
	<md-input-container>
	  <input mdInput placeholder="За мінімальним рейтингом" value="1" min=1 max=100 type="number">
	</md-input-container>
</div>
<div class="right-box">
    <p>Підвищена</p> 
	<md-input-container>
	  <input mdInput placeholder="За квотою" min=1 max=10 type="number">
	</md-input-container>
	<md-input-container>
	  <input mdInput placeholder="За мінімальним рейтингом" value="1" type="number">
	</md-input-container>
</div>	
<md-checkbox>Тільки без заборгованостей</md-checkbox>
</div>